
[Unit]
Description=InfluxDB v3 Container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=influxdb3
Image=docker.io/library/influxdb:3.3-core
PublishPort=8181:8181
Volume=%h/sensor-pipeline/data/influxdb:/var/lib/influxdb3:Z
Exec=influxdb3 serve --object-store file --data-dir /var/lib/influxdb3 --node-id piiot

[Install]
WantedBy=default.target
